{% extends 'base.html' %}

{% block pagecontent %}

<div class="row">
  <div class="col-2">
    <img src="{{ product.icon.url }}" class="img-fluid" />
  </div>
  <div class="col-10">
      <a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <img src="{{ product.image.url }}" class="img-fluid" />
  </div>
  <div class="col-4">
      <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-warning btn-lg btn-block">Vote for {{ product.title }}</button></a>
      <br />
      {{ product.title }} has {{ product.votes_total }} votes
  </div>
</div>
<div class="row">
  <div class="col-4">
    Hounded by: {{ product.hunter.username }}
  </div>
  <div class="col-4">
      Hounded on {{ product.pub_date_pretty }}
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p style="padding-top:30px;">{{ product.body }}</p>
  </div>
  <div class="col-4">

  </div>
</div>

<form method='POST' action="{% url 'upvote' product.id %}" id="upvote">
  {% csrf_token %}
  <input type="hidden">
</form>
{% endblock %}
